body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

button {
    background-color: brown;
    color: white;
    height: 30px;
    width: 130px;
    border-radius: 10px;
    border: none;
}
button:hover{
    background-color: crimson;
}